<template>
  <header class="header">
    <div class="container">
      <div class="container-left">
        <!-- 基础路由 -->
        <router-link :to="val.path" v-for="val in navData" :key="val.path">
          {{ val?.meta?.title }}
        </router-link>
        <!-- 动态路由 -->
        <router-link
          v-for="val in navList"
          :key="val.id"
          :to="'/page/' + val.path"
          >{{ val.name }}</router-link
        >
      </div>
      <div class="container-right">
        <span><fy-icon /></span>
        <span @click="handleChangecolor">
          <component :is="isComponent"></component>
        </span>
        <span><ss-icon /></span>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import useStore from "@/stores";
import { storeToRefs } from "pinia";
import { ref, computed, onMounted } from "vue";
import { useRouter } from "vue-router";
// 路由信息
const {
  options: { routes },
} = useRouter();

// 筛选路由信息 meta是否有 nav
const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav);
});
const store = useStore();
const { navList }: any = storeToRefs(store);

const init = () => {
  store.getNavData();
};
onMounted(() => {
  init();
});
const isComponent = ref("bt-icon");
const handleChangecolor = () => {
  document.documentElement.classList.toggle("dark");
  isComponent.value = document.documentElement.classList.contains("dark")
    ? "bt-icon"
    : "hy-icon";
};
</script>
<style lang="less">
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--broder-color);
  .container {
    height: 100%;
    .display-flex-row-mixin(space-between,center);
  }
}
.container-left {
  a {
    margin-left: 10px;
  }
}
.container-right {
  span {
    margin-left: 10px;
  }
}
</style>
