<template>
  <Icon>
    <template #component>
      <svg
        t="1660739478073"
        class="icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="947"
        width="23"
        height="23"
      >
        <path
          d="M501.76 937.472c-190.976 0-361.984-121.344-425.472-301.568-3.072-9.216-0.512-19.968 7.168-26.624 7.68-6.656 18.432-7.68 27.136-3.584 57.344 29.184 118.784 44.032 182.272 44.032 221.696 0 402.432-180.736 402.432-402.432 0-44.544-7.68-89.6-23.04-133.12-3.072-9.216-0.512-19.968 7.168-26.624s18.432-7.68 27.136-3.584c152.064 77.312 246.784 231.424 246.784 401.92-0.512 249.344-202.752 451.584-451.584 451.584z m-355.84-263.68c68.608 130.56 205.312 215.04 355.328 215.04 221.696 0 402.432-180.736 402.432-402.432 0-132.096-63.488-252.928-169.472-327.68 6.144 29.184 9.216 58.88 9.216 89.088 0 248.832-202.24 451.072-451.072 451.072-50.176-0.512-99.328-8.704-146.432-25.088z"
          fill="#666666"
          p-id="948"
        ></path>
      </svg>
    </template>
  </Icon>
</template>
<script setup lang="ts">
import Icon from "@ant-design/icons-vue";
</script>
<style></style>
